<%- include('../head') %>
<body>
    <header>
        <div id="topo" class="container_nav">
            <a href="/"><img class="logo_header" src="/assets/img/logoBranco.png" alt="Unionboard Logo"></a>
            <nav class="navegation_header">
                <ul>
                    <li><a href="https://downloads.showdeimagem.com.br/">Inicio</a></li>
                    <li><a target="_blank" href="https://api.whatsapp.com/send?phone=551129462668">Contato</a></li>
                    <li><a href="https://showdeimagem.com.br/sol.html">Soluções</a></li>
                    <li><a href="https://www.showdeimagem.com.br/port.html">Portifolío</a></li>
                    <li><a href="https://www.unionboard.com.br/">Comprar</a></li>
                </ul>
            </nav>
        </div>
        <div class="container_search">
            <input placeholder="Busque por artigos ou dúvidas" class="input_search" type="text">
            <button class="button_search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                </svg>
            </button>
            <div id="results_search" class="results_search" style="display: none;"></div>
        </div>
    </header>

    
    
