<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/style/style.css">
    <title>Suporte Unionboard</title>
</head>


<body>
  <!-- Obviamente barra de navegação -->
  <header>
      <div class="container_nav">
          <img class="logo_header_index" src="/assets/img/Show_de_Imagem.png" alt="Unionboard Logo">
          <nav class="navegation_header">
              <ul>
                  <li><a href="">Início</a></li>
                  <li><a href="">Contato</a></li>
                  <li><a href="">Soluções</a></li>
                  <li><a href="">Portifolío</a></li>
                  <li><a href="">Comprar</a></li>
              </ul>
          </nav>
      </div>
      <div class="container_search_home">
        <h1 class="title_home">Como podemos te ajudar?</h1>
          <input placeholder="Busque por artigos ou dúvidas" class="input_search_home" type="text">
          <button class="button_search_home">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
              </svg>
          </button>
          <div id="results_search" class="results_search_home" style="display: none;"></div>
      </div>
  </header>

  <main>
    <section class="cards_home" id="Cards">
      <div class="contaienr_cards_home">

        <div class="grid_cards_home">
          <div>
            <a href="/moldura/index">
              <img src="/assets/img/Moldura.png" alt="Moldura" height="50%">
              <h1>Moldura Interativa<br>Touchscreen</h1>
            </a>
          </div>

          <div>
            <a href="/lousa/index">
              <img src="/assets/img/lousa.png" alt="Lousa" >
              <h1>Lousa Interativa<br>Unionboard</h1>
            </a>
          </div>

          <div>
            <a href="/sinal/index">
              <img src="/assets/img/Sinal Musical.png" alt="Sinal">
              <h1>Sinal Musical<br>Unionboard</h1>
            </a>
          </div>
        </div>

        <div class="grid_cards_home" style="display: none;">
          <div>
            <a href="/display/index">
              <img src="" alt="Display">
              <h1>Display</h1>
            </a>
          </div>
          <div>
            <a href="/mesa/index">
              <img src="" alt="Mesa">
              <h1>Mesa</h1>
            </a>
          </div>
          <!-- <div>
            <img src="" alt="Sinal">
            <h1>Sinal</h1>
          </div> -->
        </div>

      </div>
    </section>

    <section id="articles_home">
      <div class="container_articles_home">
        <div>
          <ul>
          <h1>Artigos Populares Moldura</h1>

            <li style="border: transparent;"><a href="/moldura/index#InstalarMolduraPadrao">Como instalar a Moldura</a></li>
            <li><a href="/moldura/index#instalarMolduraVertical">Como instalar a moldura unionboard na vertical</a></li>
            <li><a href="/moldura/index#telaEstendida">Como utilizar a moldura unionboard de forma independente da outra tela</a></li>
            <li><a href="/lousa/index#espelhoMagico">Como utilizar a moldura unionboard para espelho magico</a></li>
            <li><a href="/sinal/index#prolongadorUSB">Como utilizar prolongadores USB</a></li>
            <li><a href="/sinal/index#instalarSoftware">Como instalar o software</a></li>
          </ul>
        </div>
        <div>
          <ul>
          <h1>Artigos Populares Sinal Musical</h1>
            <li style="border: transparent;"><a href="/sinal/index#sinalMusicalUnionboard">O que é o sinal musical Unionboard</a></li>
            <li><a href="/sinal/index#recursosSinalMusical">Quais os recursos do sinal musical Unionboard</a></li>
            <li><a href="/sinal/index#painelFrontalSinalMusical">Painel frontal do sinal musical Unionboard</a></li>
            <li><a href="/sinal/index#painelTraseiroSinalMusical">Painel traseiro do sinal musical Unionboard</a></li>
            <li><a href="/sinal/index#menuSinalMusical">Menu principal do sinal musical Unionboard</a></li>
            <li><a href="/sinal/index#manutencaoSinalMusical">Manutenção do sinal musical Unionboard</a></li>
          </ul>
        </div>
        <div>
          <ul>
          <h1>Artigos Populares Lousa Interativa</h1>
            <li style="border: transparent;"><a href="/lousa/index#instalarLousaPadrao">Como instalar a Lousa Interativa Unionboard</a></li>
            <li><a href="/lousa/index#etapasDaInstalacaoLousa">Etapas da instalação da Lousa Interativa Unionboard</a></li>
            <li><a href="/lousa/index#instalarSoftwareLousa">Como instalar o software da Lousa Interativa Unionboard</a></li>
            <li><a href="/lousa/index#calibrarLousa">Como calibrar a Lousa Interativa Unionboard</a></li>
            <li><a href="/lousa/index#utilizarSoftwareLousa">Como utilizar o Software</a></li>
            <li><a href="/lousa/index#utilizarSoftwareLousa">Requisitos do sistema para utilização da Lousa Interativa Unionboard</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section id="bt_flutuantes">
      <div class="botaoWpp">
          <a target="_blank" href="https://api.whatsapp.com/send?phone=551129462668"><img src="../../assets/img/WhatsApp.png" alt="botaoWpp"></a>
      </div>
      <div class="botaoVoltarProTopo">
          <a href="#topo">Voltar ao Topo</a>
      </div>
    </section>
  </main>

  <footer>
    <p>Show de imagem copyright ©</p>
  </footer>

  <script>
    let caixaDePesquisa = document.querySelector('.input_search_home')
      let resultadoDaPesquisa = document.querySelector('#results_search')

      caixaDePesquisa.addEventListener('input', async function () {
        resultadoDaPesquisa.style.display = 'block'
        let pesquisa = caixaDePesquisa.value
        if (pesquisa == '') {
          resultadoDaPesquisa.style.display = 'none'
        } else {
          await fetch(`https://downloads.showdeimagem.com.br/moldura/pesquisa/${pesquisa}`)
            .then(response => response.json())
            .then(data => {
              resultadoDaPesquisa.innerHTML = ''
              for (i = 0; i <= data.length; i++) {
                let div = `
                        <div>
                            <p><a class="linksFiltroBusca" href="${data[i].url}">${data[i].titulo_artigo}</a></p>
                        </div>
                    `
                resultadoDaPesquisa.innerHTML += div
              }
            })
            .catch(error => {
              console.error(error)
            })
        }
      })

  </script>

  </body>
</html>
