<%- include('../partials/header.ejs') %>


<!-- Arvore -->
<section  class="arv_body">
    <h2>Página inicial > Suporte > Lousa Interativa Unionboard</h2>
</section>

<div class="container_body">
    <!-- Menu Lateral -->
    <aside class="indiceLateral">
        <details>
            <summary>
                <a href="#como-instalar-lousa" onclick="abrirElementoMenu('como-instalar-lousa')">Como instalar a Lousa Interativa
                Unionboard</a>
            </summary>
            
                
            
        </details>

        <details>
            <summary> <a href="#etapasDaInstalacaoLousa" onclick="abrirElementoMenu('etapasDaInstalacaoLousa')">Etapas da instalação da Lousa Interativa Unionboard</a></summary>
        </details>

        <details>
            <summary> <a href="#instalarSoftwareLousa" onclick="abrirElementoMenu('instalarSoftwareLousa')">Como instalar o software da Lousa Interativa Unionboard</a></summary>
        </details>

        <details>
            <summary> <a href="#calibrarLousa" onclick="abrirElementoMenu('calibrarLousa')">Como calibrar a Lousa Interativa Unionboard</a></summary>
        </details>
        
        <details>
            <summary> <a href="#utilizarSoftwareLousa" onclick="abrirElementoMenu('utilizarSoftwareLousa')">Como utilizar o software da Lousa Interativa Unionboard</a></summary>
        </details>
        
        <details>
            <summary> <a href="#requisitosDoSistemaLousa" onclick="abrirElementoMenu('requisitosDoSistemaLousa')">Requisitos do sistema para utilização da Lousa Interativa Unionboard</a></summary>
        </details>
        
        <details>
            <summary> <a href="#duvidasFrequentesLousa" >Perguntas frequentes sobre a Lousa Interativa Unionboard</a></summary>
        </details>
        
    </aside>

    <!-- Conteudo Principal -->
    <main>
        <!-- Como instalar a Lousa Interativa Unionboard -->
        <div class="sub_Topic">
            <div class="container_flexbox" >
                <div id="como-instalar-lousa" onclick="obterIdDivClicada(event)" class="titles">
                    Como instalar a Lousa Interativa Unionboard
                </div>
                <div class="elemento_2">
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>
            <hr style="margin-top: 0%; margin-bottom: 6%;">
            
            <!-- Instalacao da Moldura -->
            <div id="como_instalar" class="titulos-artigos" data-parametro="especifico" >
                <div id="instalarLousaPadrao" class="InstalarMolduraPadrao">
                    <div class="div_paragraph">
                        <h5 class="subTitles">Instalação padrão:</h5>
                        <p class="paragraph_body"><strong>Materiais necessarios para a instalação:</strong></p>
                        <ul>
                            <li class="paragraph_body">Furadeira</li>
                            <li class="paragraph_body">Chave Phillips ou parafusadeira</li>
                            <li class="paragraph_body">Nível</li>
                            <li class="paragraph_body">Chave Allen</li>
                            <li class="paragraph_body">Trena</li>
                            <li class="paragraph_body">Lápis ou caneta</li>
                            <li class="paragraph_body">Travas de fixação com rosca <strong>(Parede)</strong> x4</li>
                            <li class="paragraph_body">Travas de fixação com gancho <strong>(Lousa)</strong> x4</li>
                            <li class="paragraph_body">Porcas <strong>(Lousa)</strong> x8</li>
                            <li class="paragraph_body">Parafusos sextavados <strong>(Já fixados no perfil da lousa)</strong> x8</li>
                            <li class="paragraph_body">Parafuso allen <strong>(Travas)</strong> x4</li>
                            <li class="paragraph_body">Canetas plásticas x2</li>
                            <li class="paragraph_body">Caneta extensora x1</li>
                            <li class="paragraph_body">Extensão USB (5m) x1</li>
                            <li class="paragraph_body">Buchas plásticas 6mm x8</li>
                            <li class="paragraph_body">Parafuso Phillips 6mm x8</li>
                        </ul>
                    </div>
                    <div>
                        <img src="../../assets/img/materiais_necessarios (1).PNG" alt="imagem">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Etapas da instalação -->
        <div class="sub_Topic">
                <div  class="container_flexbox">
                    <div id="etapasDaInstalacaoLousa" onclick="obterIdDivClicada(event)" class="titles">
                        Etapas da instalação da Lousa Interativa Unionboard
                    </div>
                    <div>
                        <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                    </div>
                </div>
                <hr>
            <div id="etapasArtigo" data-parametro="especifico" class="titulos-artigos" data-parametro="especifico">
                <div class="div_paragraph">
                    <p class="paragraph_body"> 1 - Fixe as 4 travas com gancho nos perfis laterais da lousa interativa, alinhe no
                        limite das cantoneiras.<strong>Atenção: Verifique a trava correta para o lado esquerdo e direito da lousa.
                            Aplique tensão suave nos parafusos.</strong></p>
                    <img src="../../assets/img/fixar_travas.PNG" alt="imagens">
                </div>
                <div class="div_paragraph">
                    <p class="paragraph_body"> 2 - A altura indicada para a utilização da lousa é de 70 a 90cm do chave chão.
                        Geralmente são utilizadas as seguintes medidas:</p>
                    <ul>
                        <li class="paragraph_body">70cm: ensino infantil</li>
                        <li class="paragraph_body">80 à 90cm: ensino fundamental, médio e demais ambientes</li>
                    </ul>
                    <img src="../../assets/img/Altura_indicada.PNG" alt="imagem">
                </div>
                <div class="div_paragraph">
                    <p class="paragraph_body">3 - Tendo definido a medida do chão, em duas pessoas apoie a lousa na parede (ajuste o
                        nível). Caso possua calços de apoio, utilize-os para manter a altura da lousa constante. Faça o alinhamento
                        e a marcação das 4 travas conforme o exemplo abaixo:</p>
                    <div>
                        <img src="../../assets/img/duas_pessoas.PNG" alt="imagem">
                    </div>
                </div>
                <div class="div_paragraph">
                    <p class="paragraph_body">4 - Faça o alinhamento das travas em suas respectivas marcações, faça a marcação dos
                        furos (apenas 2 furos são o suficiente para a instalação). Fixe o suporte no local demarcado na parede.
                        Repita o processo nas 4 travas. Acompanha kit de buchas para alvenaria, caso sua parede for de drywall,
                        utilize o sistema adequado para a instalação.</p>
                    <img src="../../assets/img/marca_furos.PNG" alt="imagem">
                </div>
                <div class="div_paragraph">
                    <p class="paragraph_body">5 - Em duas pessoas, alinhe as travas da lousa um pouco acima das travas da parede e
                        suavemente encaixe-as em seus respectivos suportes.</p>
                    <img src="../../assets/img/alinhamento_travas.PNG" alt="imagem">
                </div>
                <div class="div_paragraph">
                    <p class="paragraph_body">6 - Realize a fixação das travas com o parafuso allen.<strong> Atenção: Aplique tensão
                            suave nos parafusos</strong>.</p>
                    <img src="../../assets/img/parafusos.PNG" alt="imagem">
                </div>
                <div class="div_paragraph">
                    <p class="paragraph_body">7 - Conecte o cabo USB da lousa na extensão USB e a extensão USB no computador.
                        <strong>Atenção: Sempre utilize a extensão USB.</strong> Conecte o cabo HDMI ou VGA do computador no
                        projetor.
                    </p>
                    <img src="../../assets/img/conexao_lousa.PNG" alt="imagem">
                </div>
            
                <div class="div_paragraph">
                    <p class="paragraph_body">8 - O projetor poderá ser fixado no teto ou apoiado na mesa. Realize o alinhamento da
                        projeção na área ativa da lousa. <strong>Atenção: a imagem não pode cobrir os atalhos e as bordas da
                            lousa.</strong></p>
                    <img src="../../assets/img/projetor.PNG" alt="imagem">
                </div>
            
                <div class="div_paragraph">
                    <p class="paragraph_body">9 - Para concluir o processo de configuração:</p>
                    <ul>
                        <li class="paragraph_body"><strong>1-</strong>Acesse o site: <strong><a
                                    href="https://showdeimagem.com.br/downloads">www.showdeimagem.com.br/downloads</a></strong> e
                            realize o download do calibrador e do software UnionBoard para lousa interativa;</li>
                        <li class="paragraph_body"><strong>2-</strong>Realize a Calibração da Imagem;</li>
                        <li class="paragraph_body"><strong>3-</strong>Vídeo explicativo da calibração e primeiros recursos estão
                            disponíveis em conjunto ao download do software;</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- Instalar Software -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="instalarSoftwareLousa" onclick="obterIdDivClicada(event)" class="titles">
                    Como instalar o software da Lousa Interativa Unionboard
                </div>
                <div>
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>
            <hr>
    
            <!-- ============== Software Windows ===================== -->
            <div id="instalacao_software" data-parametro="especifico" class="titulos-artigos" data-parametro="especifico">
                <div id="softwareWindowsLousa" class="div_paragraph">
                        <div class="div_paragraph">
                            <h5 class="subTitles">Como instalar o software no sistema Windows:</h5>
                            
                            <h5 class="subTitles">*Observações*</h5>
                            <ul>
                                <li class="paragraph_body">
                                    Para garantia de extração dos arquivos de forma correta, tenha o Winrar instalado
                                </li>
                                <li class="paragraph_body">
                                    Esteja no perfil de administrador, verifique com a direção caso as instalações sejam limitadas
                                </li>
                                <li class="paragraph_body">
                                    Em caso de necessidade de suporte, tenha instalado o AnyDesk no perfil de administrador e já tenha em mãos os dados necessários caso tenha limitações estipuladas pela direção no uso dos computadores
                                </li>
                            </ul>
                        </div>
                </div>

                <div class="div_paragraph" id="softwarePro">
                    <h5 class="subTitles">Para instalação do software Color no sistema Windows (Para versões anteriores a julho de 2022):</h5>
                        <ul>
                            <li class="paragraph_body">Acesse o link <a href="https://showdeimagem.com.br/UnionBoard_Software_V3.1.180525.zip">https://showdeimagem.com.br/UnionBoard_Software_V3.1.180525.zip</a></li>
                            <li class="paragraph_body">Crie uma pasta em Documentos</li>
                            <li class="paragraph_body">Extraia os arquivos do software baixado para a pasta criada</li>
                            <li class="paragraph_body">Entre na pasta e execute o arquivo Unionboard Software V3.exe. (Atenção ao anti-virus, ele pode alertar um falso positivo de virus)</li>
                            <li class="paragraph_body">Aperte em Sim para solicitações e aguarde o aplicativo ser instalado</li>
                            <li class="paragraph_body">Após isso você verá um novo ícone na área de trabalho, basta executar o software</li>
                        </ul>
                </div>

                <div class="div_paragraph" id="softwarePro">
                    <h5 class="subTitles">Para instalação do software Color no sistema Windows (Para versões após julho de 2022):</h5>
                        <ul>
                            <li class="paragraph_body">Acesse o link de <a href="https://bit.ly/3QmZNG7">(Download)</a></li>
                            <li class="paragraph_body">Crie uma pasta em Documentos</li>
                            <li class="paragraph_body">Extraia os arquivos do software baixado para a pasta criada</li>
                            <li class="paragraph_body">Dentro da pasta extraída terá outras duas pastas, uma com o Calibrador da lousa, e outra com o próprio software da lousa</li>
                            <li class="paragraph_body">Para acessar *o Software* da lousa, entre nas pastas "SoftwareLousa > WhiteBoardSoftware > Software", procure o arquivo Board.exe e crie um atalho</li>
                            <li class="paragraph_body">Após isso você verá um novo ícone na área de trabalho, basta executar o software</li>
                            <li class="paragraph_body">Para acessar o calibrador entre nas pastas "CalibradorLousa > infrared" e execute o arquivo infraredTouch.exe</li>
                        </ul>
                </div>
            </div>
        </div>  

        <!-- Calibrador -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="calibrarLousa" onclick="obterIdDivClicada(event)" class="titles">
                    Como calibrar a Lousa Interativa Unionboard
                </div>
                <div>
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>            
            <hr>
        
            <div id="calibrar_lousa" data-parametro="especifico" class="titulos-artigos">
                <ul>
                    <div class="div_paragraph">
                        <li class="paragraph_body"> 1 - Acesse o site <a href="https://showdeimagem.com.br/downloads">www.showdeimagem.com.br/downloads</a> e baixe o calibrador em Lousa Interativa UnionBoard - Software e Drivers.</li>
                    </div>

                    <div class="div_paragraph">
                        <li class="paragraph_body"> 2 - Ligue a lousa no computador, e o projetor no PC. Após, abra o arquivo do calibrador, em seguida, inicie o aplicativo "infraRedTouch".</li>
                        <img src="../../assets/img/infraredtouch.PNG" alt="imagem" >
                    </div>

                    <div class="div_paragraph">
                        <li class="paragraph_body"> 3 - Abra o calibrador da lousa e selecione a opção "Equipment calibration". </li>
                        <img src="../../assets/img/calibracao_infraredSoftware.PNG" alt="imagem" >
                    </div>

                    <li class="paragraph_body"> 4 - Em seguida, faça a calibragem, clique e segure nos pontos correspondentes da lousa, na sequência em que surgirem. </li>
                    <img src="../../assets/img/passo_a_passo.PNG" alt="imagem" >
                
                    <li class="paragraph_body"> 5 - Agora, para calibrar os atalhos laterais da lousa, volte ao menu de configurações e selecione a opção "Hotkey Setting". </li>
                    <img src="../../assets/img/hotkey_setting.PNG" alt="imagem" >
                
                    <li class="paragraph_body"> 6 - Ao abrir, selecione a opção "Hotkey calibrate 1" para calibrar os 2 atalhos laterais. </li>
                    <img src="../../assets/img/hotkey_calibrate.PNG" alt="imagem" >
                
                    <li class="paragraph_body"> 7 - Em seguida, pressione o Ícone superior do atalho esquerdo conforme a imagem abaixo (imagem 1), e após o toque, espere a barra do calibrador carregar (imagem 2). E pronto! Agora sua Lousa interativa UnionBoard está calibrada e pronta para ser utilizada. </li>
                    <img src="../../assets/img/atalho.PNG" alt="imagem" >

            </ul>
            </div>
        </div>

        <!-- utilizarSoftware -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="utilizarSoftwareLousa" onclick="obterIdDivClicada(event)" class="titles">
                   Como utilizar o Software
                </div>
                <div>
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>
            
            <hr>
            <div id="utilizacao_software" data-parametro="especifico" class="titulos-artigos">
               <p class="paragraph_body">
                    Faça o Download do tutorial do software 
                    <a type="download" href="../../public/docs/Tutorial Software.zip"> aqui</a>
                </p>
            </div>
        </div>

        <!-- Requisitos do Sistema -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="requisitosDoSistemaLousa"onclick="obterIdDivClicada(event)" class="titles">
                    Requisitos do sistema para utilização da Lousa Interativa Unionboard
                </div>
                <div>
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>
            <hr>
        
            <div id="requisitosSistema" data-parametro="especifico" class="titulos-artigos">
                <div class="div_paragraph">
                    <p class="paragraph_body">Requisitos recomendados:</p>
                    <ul>
                        <li class="paragraph_body">Memoria Ram: 8GB</li>
                        <li class="paragraph_body">Processador: Intel I5 4° Geração</li>
                        <li class="paragraph_body">Sistema operacional Windows 10 ou superior</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Duvidas Frequentes -->
        <div id="duvidasFrequentesLousa" class="duvidasFrequentes" style="margin-top: 10%;">
            <h1 style="text-align: center;" class="titles">Perguntas frequentes sobre a Lousa Interativa Unionboard</h1>
            <div class="div_paragraph">
                <div class="div_paragraph bg-cinza padding_faq">
                    <h5 class="subTitles"> 1 - Onde posso fazer o download do Software UnionBoard?</h5>
                    <p class="paragraph_body"> R:Você pode solicitar o link de download do software através de nosso whatsapp: (11) 2946-2668 ou acesse o site: <a href="https://showdeimagem.com.br/downloads">www.showdeimagem.com.br/downloads</a>. as lousas interativas acompanham o UnionBoard Software Pro e Color. O UnionBoard Software será disponibilizado para instituições de ensino.</p>
                </div>
                <div class="div_paragraph padding_faq">
                    <h5 class="subTitles "> 2 - Como faço o enquadramento do projetor?</h5>
                    <p class="paragraph_body"> O enquadramento ideal do projetor é dado quando a imagem fica localizada ao centro da lousa, sem cobrir os atalhos laterais.</p>
                </div>
                <div class="div_paragraph bg-cinza padding_faq">
                    <h5 class="subTitles">3 - Como é realizada a conexão da lousa interativa?</h5>
                    <p class="paragraph_body">|: Conecte o Cabo USB da lousa no computador, para habilitar o toque. |||: Conecte o cabo de Imagem (HDMI ou VGA) do computador no projetor. IV: Pronto, sua lousa agora é interativa.</p>
                </div>
                <div class="div_paragraph padding_faq">
                    <h5 class="subTitles">4 - Lousa não reconhece o toque.</hh>
                    <p class="paragraph_body">|: Verifique se as conexões estão corretas. ||: Conecte a lousa direto no PC sem extensões USB. |||: Reinicie o PC. IV: Se precisar utilizar uma extensão USB, opte por uma ativa.</p>
                </div>
            </div>
        </div>    
    
        <div class="botaoWpp">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=551129462668"><img src="../../assets/img/WhatsApp.png" alt="botaoWpp"></a>
        </div>

        <div class="botaoVoltarProTopo">
            <a href="#topo">Voltar ao Topo</a>
        </div>
    </main>
</div>

<script type="text/javascript" src="../../public/javascripts/config_pesquisa.js"></script>




    <%- include('../partials/footer.ejs') %>
