<%- include('../partials/header.ejs') %>


<!-- Arvore -->
<section  class="arv_body">
    <h2>Página inicial > Suporte > Sinal Musical Unionboard</h2>
</section>

<div class="container_body">
    <!-- Menu Lateral -->
    <aside class="indiceLateral">
        <details>
            <summary>
                <a href="#sinalMusicalUnionboard" onclick="abrirElementoMenu('sinalMusicalUnionboard')"> O que é o sinal musical Unionboard</a>
            </summary>
        </details>

        <details>
            <summary>
                <a href="#recursSinalMusical" onclick="abrirElementoMenu('recursSinalMusical')"> Quais são os recursos do sinal musical Unionboard</a>
            </summary>
        </details>

        <details>
            <summary>
                <a href="#painelFrontalSinalMusical" onclick="abrirElementoMenu('painelFrontalSinalMusical')"> Painel frontal do sinal musical Unionboard</a>
            </summary>
        </details>

        <details>
            <summary>
                <a href="#painelTraseiroSinalMusical" onclick="abrirElementoMenu('painelTraseiroSinalMusical')"> Painel traseiro do sinal musical Unionboard</a>
            </summary>
        </details>

        <details>
            <summary>
                <a href="#menuSinalMusical" onclick="abrirElementoMenu('menuSinalMusical')"> Menu principal do sinal musical Unionboard</a>
            </summary>
        </details>

        <details>
            <summary>
                <a href="#manutencaoSinalMusical" onclick="abrirElementoMenu('manutencaoSinalMusical')"> Manutenção do sinal musical Unionboard</a>
            </summary>
        </details>
        
        <details>
            <summary>
                <a href="#depuracaoSinalMusical" onclick="abrirElementoMenu('depuracaoSinalMusical')"> Depuração de mal funcionamento do sinal musical Unionboard</a>
            </summary>
        </details>
        
        <details>
            <summary>
                <a href="#softwareSinalMusical" onclick="abrirElementoMenu('softwareSinalMusical')"> Como instalar o software do sinal musical Unionboard</a>
            </summary>
        </details>
        
        <details>
            <summary>
                <a href="#programacaoCasualSinalMusical" onclick="abrirElementoMenu('programacaoCasualSinalMusical')"> Como fazer uma programação casual no sinal musical Unionboard</a>
            </summary>
        </details>
        
        <details>
            <summary>
                <a href="#programacaoRegularSinalMusical" onclick="abrirElementoMenu('programacaoRegularSinalMusical')"> Como fazer uma programação regular no sinal musical Unionboard</a>
            </summary>
        </details>
        
        <details>
            <summary>
                <a href="#downloadSinalMusical" onclick="abrirElementoMenu('downloadSinalMusical')"> Como fazer downloads de musicas através do software do sinal musical Unionboard</a>
            </summary>
        </details>

        <details>
            <summary>
                <a href="#gravarSinalMusical" onclick="abrirElementoMenu('gravarSinalMusical')"> Como gravar áudios com o software do sinal musical UnionBoard</a>
            </summary>
        </details>

        <details>
            <summary>
                <a href="#cortarSinalMusical" onclick="abrirElementoMenu('cortarSinalMusical')"> Como cortar musicas com o software do sinal musical Unionboard</a>
            </summary>
        </details>
        
    </aside>

    <!-- Conteudo Principal -->
    <main>
        <!-- O que é o sinal musical Unionboard-->
        <div class="sub_Topic">
                <div class="container_flexbox">
                    <div id="sinalMusicalUnionboard" class="titles" onclick="obterIdDivClicada(event)" >
                       O que é o sinal musical Unionboard
                    </div>
                    <div>
                        <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                    </div>
                </div>
                <hr style="margin-top: 0%; margin-bottom: 6%;">

                <div id="sinalMusicalUnionboardSumario" data-parametro="especifico" class="titulos-artigos">
                    <p class="subTitles"><strong>Sumario:</strong></p><br>
                    <p class="paragraph_body">
                        Este produto é uma solução completa para transmissões inteligentes. Ele integra
                        um Amplificador de alta potência classe D, Um mídia player com opção de
                        programação. Rádio FM, Bluetooth, Microfone UHF sem fio, 6 zonas programáveis
                        com saídas amplificadas, microfone multifuncional programável, controle sem
                        fio de longa distância, ligação para alarme de incêndio. O Sinal Músical
                        UnionBoard realiza diversas funções, como as de música ambiente,
                        programações de alarmes, Conexão de microfones com fio ou sem fio para fala,
                        programação por zona independente, etc. Flexível, ele pode ser utilizado em
                        diversos ambientes, por exemplo: Escolas, Jardim de infância, Fábricas,
                        Supermercados, Lojas, Cafeterias, Parques, Áreas residências, entre outras. O
                        design dele é semelhante a um rack industrial 2Us, com dois canais amplificados:
                        2*250W, 2*400w, 2*500W, 2*800W e 2*1000W. O Painel traseiro possui 6 zonas com
                        saídas amplificadas. Também é possível criar um circuito fechado para alarmes
                        de incêndio.
                    </p>
                </div>
        </div>

        <!-- Quais os recursos do sinal musical Unionboar -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="recursSinalMusical" class="titles" onclick="obterIdDivClicada(event)">
                    Quais os recursos do sinal musical Unionboard
                </div>
                <div>
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>
            <hr>

            <div id="recursosSinalMusicalArtigo" data-parametro="especifico" class="titulos-artigos">
                <ul>
                    <li class="paragraph_body">
                        Dois canais com 6 zonas programáveis com saídas amplificadas 2X250W, 2X400W, 2X500W, 2X600W, 2X1000w.
                    </li>
                    <li class="paragraph_body">
                    Gerenciador de mídias programável, Rádio FM, 2 entradas de áudio AUX, 1 entrada
                    EMC, 2 entradas para Microfones, 1 entrada para extensão Bluetooth, 1 entrada para
                    expansão de microfone sem fio UHF, 1 entrada de contato-seco e 1 saída de contato seco
                    </li>
                    <li class="paragraph_body">
                        Operação simples e rápida, Utilize um botão para navegação, Display de 4.3",
                        interface gráfica, Visualização limpa.
                    </li>
                    <li class="paragraph_body">
                        2GB de memória interna com suporte para expansão via SD Card.
                    </li>
                    <li class="paragraph_body">
                        Poderoso Player de música, suporta Mp3, WMA, WAV e outros formatos de áudio.
                    </li>
                    <li class="paragraph_body">
                        Fácil de usar, pode ser configurado diretamente pelo sinal musical ou através
                        do software via PC.
                    </li>
                    <li class="paragraph_body">
                        Modo de reprodução flexível, suporta músicas sob demanda, inserção de novas
                        músicas, Reprodução agendada, Controle remoto, entre outros modos de reprodução.
                    </li>
                    <li class="paragraph_body">
                        Possui 4 cronogramas para programações cotidianas e 6 cronogramas para
                        programações em datas especiais. O cronograma cotidiano é executado
                        semanalmente, e o especial é executado em uma data específica. Cada cronograma
                        pode ter até 256 horários.
                    </li>
                    <li class="paragraph_body">
                        Os horários programados irão tocar a música conforme o nome dela, não através de
                        um arquivo como número serial ou algo do tipo, facilitando a edição e a organização
                    </li>
                    <li class="paragraph_body">
                        Suporta paginação remota, conecta com o programa de paginação do microfone
                        através da interface Rj45, permitindo a fala, o controle remoto da zona, ou outra
                        operação sob-demanda.
                    </li>
                    <li class="paragraph_body">
                        Controle remoto de longa distância. Usando um controle remoto de alta sensibilidade
                        com um chip transmissor é possível controlar o Sinal Musical numa distância de até
                        500 metros
                    </li>
                    <li class="paragraph_body">
                        Entrada para Áudio via Bluetooth ou Microfone UHF. O bluetooth e receptor do
                        Microfone UHF sem fio são definidos como uma conexão USB padrão, plug n’ play.
                    </li>
                    <li class="paragraph_body">
                        Fornece uma saída para contato-seco para sinalizar e ativar outros dispositivos
                        periféricos, tais como sequenciadores de energia.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Painel frontal do sinal musical Unionboard -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div class="titles" id="painelFrontalSinalMusical" onclick="obterIdDivClicada(event)">
                    Painel frontal do sinal musical Unionboard
                </div>
                <div>
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>
            <hr>
            <div id="painelFrontalSinalMusicalArtigo" data-parametro="especifico" class="titulos-artigos">
                <ul>
                    <li class="paragraph_body">
                        <p class="subTitles"><strong>Power:</strong></p>
                        <p class="paragraph_body">Liga/Desliga</p>
                    </li>

                    <li class="paragraph_body">
                        <p class="subTitles"><strong>Slot para SD Card:</strong></p>
                        <p class="paragraph_body">Entrada para expansão via cartão de memória</p>
                    </li>

                    <li class="paragraph_body">
                        <p class="subTitles"><strong>Porta USB:</strong></p>
                        <p class="paragraph_body">Conectando à um PC via cabo USB, é possível inserir as músicas baixadas ou inserir os cronogramas com as programações dos horários na memória interna do Sinal Musical ou no SD Card.</p>
                    </li>

                    <li class="paragraph_body">
                        <p class="subTitles"><strong>Teclas de Atalhos:</strong></p>
                        <p class="paragraph_body">
                            <ul>
                                <li>‘‘Zone 1 até Zone 6’’ - Controle de zonas rápido</li>
                                <li>‘‘ Vol’’ - Para ajuste de volume e navegação</li>
                                <li>‘‘Mp3’’ - Para tocar músicas</li>
                                <li>‘‘FM’’ - Seleção da Rádio FM</li>
                                <li>‘‘Mute’’ - Ligar ou Desligar a função mudo</li>
                            </ul>
                        </p>
                    </li>

                    <li class="paragraph_body">
                        <p class="subTitles"><strong>4.3" Display:</strong></p>
                        <p class="paragraph_body">Visualize todas as funções do sistema em tempo real.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="subTitles"><strong>Botão seletor</strong></p>
                        <p class="paragraph_body">Enquanto as músicas ou rádio FM estão tocando, o Botão seletor é um ajuste de volume. Gire para direita para aumentar o volume, Gire para esquerda para diminuir o volume. Enquanto estiver nas configurações, o botão serve para mover o cursosr ou
                        ajustar parâmetros. Ao clicá-lo a função ativada é a de confirmar. Gire para direita para mover o cursor para baixo e para direita. Gire para esquerda para mover para
                        cima e para esquerda.</p>
                    </li>

                    <li class="paragraph_body">
                        <p class="subTitles"><strong>Menu</strong></p>
                        <p class="paragraph_body">Entre na interface de controle correspondente</p>
                    </li>

                    <li class="paragraph_body">
                        <p class="subTitles"><strong>Escape</strong></p>
                        <p class="paragraph_body">Clique curto para retornar ao menu anterior. Clique longo para retornar a interface principal</p>
                    </li>

                    <li class="paragraph_body">
                        <p class="subTitles"><strong>Próximo</strong></p>
                        <p class="paragraph_body">Próximo som ou mover o cursor para direita ou para baixo.</p>
                    </li>

                    <li class="paragraph_body">
                        <p class="subTitles"><strong>Anterior</strong></p>
                        <p class="paragraph_body">Som anterior ou mover o cursor para esquerda ou para cima.</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Painel traseiro do sinal musical Unionboard -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="painelTraseiroSinalMusical" class="titles" onclick="obterIdDivClicada(event)">
                   Painel traseiro do sinal musical Unionboard
                </div>
                <div>
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>
            <hr>

            <div id="painelTraseiroSinalMusicalArtigo" data-parametro="especifico" class="titulos-artigos">
            <ul>
                <li class="paragraph_body">
                    <p class="subTitles"><strong>Fontes de áudio (Portas de saída):</strong></p>
                    <p class="paragraph_body">Liga/Desliga</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>. Line Input Port:</strong></p>
                    <p class="paragraph_body">Porta de entrada de fontes de áudio externas, como CD Player, PC áudio.</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>EMC Sources Input Port:</strong></p>
                    <p class="paragraph_body">EMC Porta de entrada para conexão de sinal sonoro para alarme de incêndio</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>MIC1 Input Port:</strong></p>
                    <p class="paragraph_body">
                        Conecte o Microfone nessa porta para ele ter acesso prioritário, parando qualquer fonte de
                        áudio.
                    </p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>MIC2 Input Port:</strong></p>
                    <p class="paragraph_body">Conectando o Microfone nessa porta ele não para as fontes de áudio.</p>
                </li>
                <li class="paragraph_body">
                    <p class="subTitles"><strong>Portal de antena para controle remoto</strong></p>
                    <p class="paragraph_body">Porta de antena para controlador remoto sem fio RF</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>Porta Rj45</strong></p>
                    <p class="paragraph_body">Porta de controle Rj45. Conectando o microfone de paging remoto ou outros controladores com barramento Rs485.</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>Entrada para Antena de Radio</strong></p>
                    <p class="paragraph_body">Porta para Antena de Radio FM</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>Porta de Audio via Bluetooth</strong></p>
                    <p class="paragraph_body">Receba sinal de áudio Bluetooth por este receptor específico.</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>Porta microfone sem fio</strong></p>
                    <p class="paragraph_body">Porta para Microfone UHF sem fio, para receber o sinal do microfone sem fio por este específico receptor UHF.</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>Terminal de entrada de sinal de alarme de curto-circuito</strong></p>
                    <p class="paragraph_body">Terminal de entrada do gatilho de curto-circuito, alarme automático do sistema assim que houver saída de sinal de alarme.</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>Terminal de saída do gatilho de curto-circuito</strong></p>
                    <p class="paragraph_body">Terminal de saída do gatilho de curto-circuito, para acionar dispositivos periféricos quando ligado e saída de sinal de curto-circuito.</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>Terminal de saída de tensão constante de 80V</strong></p>
                    <p class="paragraph_body">Terminal de saída de tensão constante de 80V de 6 zonas, para conectar a alto-falantes. Acesso "OUTPUT CHA" ao canal A enquanto "OUTPUT CHB" ao canal B.</p>
                </li>
            
                <li class="paragraph_body">
                    <p class="subTitles"><strong>Conexão para alimentação AC220V</strong></p>
                    <p class="paragraph_body">A fonte de alimentação de trabalho desta máquina, insira o plugue de alimentação primeiro e depois conecte à rede da cidade.</p>
                </li>
            </ul>
            </div>
        </div>

        <!-- Menu principal do sinal musical Unionboard -->
        <div class="sub_Topic">
            <div class="container_flexbox">
                <div id="menuSinalMusical" class="titles" onclick="obterIdDivClicada(event)">
                    Menu principal do sinal musical Unionboard
                </div>
                <div>
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>
            <hr>
            <div id="menuSinalMusicalArtigo" data-parametro="especifico" class="titulos-artigos">
                <div id="softwareWindows" class="div_paragraph">
                    <div class="div_paragraph">
                        <h5 class="subTitles">Instruções das funções:</h5>
                        <p class="paragraph_body">Gire o botão de navegação para esquerda/direita para selecionar o módulo desejado. Pressione o botão para escolher a opção selecionada.</p>
                        
                        <ul>
                            <li class="paragraph_body">
                                <p class="subTitles"><strong>Player de música:</strong></p>
                                <p class="paragraph_body">Player de música que reproduz as músicas salvas no sinal musical ou no SD CARD</p>
                            </li>
                            <li class="paragraph_body">
                                <p class="subTitles"><strong>FM Radio:</strong></p>
                                <p class="paragraph_body">Navegar entre as estações de rádio FM</p>
                            </li>
                            <li class="paragraph_body">
                                <p class="subTitles"><strong>Editar Cronograma:</strong></p>
                                <p class="paragraph_body">Edite, Revise e busque horários programados para tocar.</p>
                            </li>
                            <li class="paragraph_body">
                                <p class="subTitles"><strong>Controle de Zona:</strong></p>
                                <p class="paragraph_body">Controle as 6 zonas. ou controle através do microfone paging conforme imagem abaixo.</p>
                            </li>
                            <li class="paragraph_body">
                                <p class="subTitles"><strong>Controle de Volume:</strong></p>
                                <p class="paragraph_body">Para ajustar o volume do sinal musical ou microfone auxiliar externo.</p>
                            </li>
                            <li class="paragraph_body">
                                <p class="subTitles"><strong>Configurações do sistema:</strong></p>
                                <p class="paragraph_body">Configure as informações do sistema.</p>
                            </li>
                            <li class="paragraph_body">
                                <p class="subTitles"><strong>Especificações técnicas:</strong></p>
                                <div><img  src="../../assets/img/especificacoes_tecnicas.JPG"></div>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>

        <!-- manutenção do sinal musical Unionboard -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="manutencaoSinalMusical" class="titles" onclick="obterIdDivClicada(event)" >
                    Manutenção do sinal musical Unionboard
                </div>
                <div>
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>            
            <hr>
            <div id="manutencaoSinalMusicalArtigo" data-parametro="especifico" class="titulos-artigos">
                <ul>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Por favor, use a voltagem certa para alimentar este aparelho</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Não instale este equipamento em ambientes úmidos, com vapor, ou qualquer tipo de fumaça.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Não cubra os buracos de ventilação deste equipamento, isso pode ocasionar em calor excessivo e até incêndios.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Não insira ou retire o plug de energia com as mãos molhadas para evitar o choques elétricos.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Não insira ou retire o plug de energia com as mãos molhadas para evitar o choques elétricos.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Quando limpar este produto, desligue ele da tomada.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Não compartilhe o plug de alimentação deste aparelho com outros  equipamentos.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Se o equipamento não estiver funcionando normalmente, por favor desligue-o e entre em contato com o suporte técnico.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Se houver a possibilidade de raios, por favor desligue o equipamento e o retire da tomada para evitar danos ao equipamentos.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Não coloque recipientes de líquidos que sejam fáceis de derramar na máquina.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Não coloque o Sinal Musical em lugares com vibrações altas.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Manuseie o cabo de energia cuidadosamente para evitar danos e choques elétricos.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">A potência do equipamento conectado não deve exceder a potência nominal da máquina.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Ao inserir ou retirar o plugue da tomada, é necessário segurar o plugue do cabo de
                            alimentação e não tocar no corpo do cabo.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Para movimentar este produto é necessário desligá-lo e retirá-lo da tomada.</p>
                    </li >
                    <li class="paragraph_body">
                        <p class="paragraph_body">Não deixe cair qualquer líquido sobre o Sinal Musical.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Não coloque objetos pesados sobre o Sinal Musical</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">A superfície deste sinal musical pode ser limpo com um pano levemente umedecido. Para
                            sujeiras mais pesadas, você pode usar um pana umedecido com detergente neutro.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Compatível apenas com acessórios originais.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">O sinal musical não pode ter colisões forte</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">Se o Sinal musical estiver danificado, por favor, contate o suporte técnico</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Depuração de mal funcionamento do sinal musical Unionboard -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="depuracaoSinalMusical" class="titles" onclick="obterIdDivClicada(event)">
                    Depuração de mal funcionamento do sinal musical Unionboard
                </div>
                <div><img class="arrow_dropwdow" src="../../assets/img/down-arrow.png"></div>
            </div>
            
            <hr>
            <div id="depuracaoSinalMusicalArtigo" data-parametro="especifico" class="titulos-artigos">
                <img src="../../assets/img/imagem do sinal musical.JPG" alt="imagem">
            </div>
        </div>

        <!-- Como instalar o software do Sinal Musical -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div class="titles" id="softwareSinalMusical" onclick="obterIdDivClicada(event)">
                    Como instalar o software do sinal musical Unionboard
                </div>
                <div><img class="arrow_dropwdow" src="../../assets/img/down-arrow.png"></div>
            </div>

            <hr>
            <div id="softwareSinalMusicalArtigo" data-parametro="especifico" class="titulos-artigos">
                <ul>
                    <li class="paragraph_body">
                        <p class="paragraph_body">1° Passo - Abra o pendrive que contém o software do Sinal Musical</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">2° Passo - Abra a pasta <strong>Instalador dos programas necessários</strong> e execute o
                            <strong>Instalador.exe</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">3° Passo - Se o instalador pedir autorização para executar como administrador, basta
                            conceder clicando em<strong>sim</strong> na janela</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">4° Passo - Após realizada a instalação, volte para pasta raiz do seu penDrive e clique em
                            <strong>Sinal Musical</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">5° Passo - Irá abrir o Dock no qual você terá acesso a toos os recursos do<strong>Sinal
                                Musical</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">6° Passo - Clique, segure e arraste o ícone central para movimentar o dock para qualquer
                            canto da tela</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">7° Passo - Arraste a bolinha do mouse (scroll) para cima ou para baixo para girar o dock
                        </p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">8° Passo - Enquanto estiver usando os recursos do sinal é possivel mostrar ou esconder o
                            dock clicando com o <strong>botão do scroll</strong> ou clicar em fechar no <strong>x</strong></p>
                    </li>
                </ul>

                <br><p class="subTitles">Acompanhe o video tutorial:</p><br>
                <video width="540" height="360" controls>
                    <source src="../../assets/videos/Instalacao.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <!-- Como fazer uma programação casual no sinal musical Unionboard -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="programacaoCasualSinalMusical" class="titles" onclick="obterIdDivClicada(event)" >
                    Como fazer uma programação casual no sinal musical Unionboard
                </div>
                <div >
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>
        
            <hr>
            <div id="programacaoCasualSinalMusicalArtigo" data-parametro="especifico" class="titulos-artigos">
                <ul>
                    <li class="paragraph_body">
                        <p class="paragraph_body">1° Passo - Para realizar programações para datas especiais, como eventos, festas, confraternizações, etc. Conecte o módulo Amplificador com um USB no seu computador, vá na aba <strong>Casual</strong> e em pasta raíz do Sinal Musical clique em <strong>Abrir</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">2° Passo - Escolha a programação que você quer salvar essa programação especial. Você poderá fazer até 6 programações diferentes</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">3° Passo - Na guia <strong>Horários</strong> defina o horário inicial que irá tocar as músicas</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">4° Passo - Na guia Zonas defina as zonas que ião tocar as músicas. Caso não queira fazer distinção de zonas, deixe todas selecionadas.
                        </p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">5° Passo - Na guia Reprodução deixe a opção Sinal Musical marcada e em modo de tempo e modo de reprodução escolha de acordo com a legenda na parte inferior direira do programa</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">6° Passo - Na gua Músicas adicione as músicas que irão tocar no horário definido. Pode selecionar uma ou várias músicas para tocar no mesmo horário.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">7° Passo - Clique em Salvar. Se necessário você pode adicionar novos horários na mesma programação em Novo Cron.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">8° Passo - Já feito o cronograma para programação casual, clique na aba Datas, após clique em abrir e selecione a pasta raiz do Módulo Amplificador</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">9° Passo - Em programação, escolha a programação que acabou de fazer na aba Casual e defina os dias que irão tocar a programação criada. Após, clique Salvar</p>
                    </li>
                </ul>
        
                <br>
                <p class="subTitles">Acompanhe o video tutorial:</p><br>
                <video width="540" height="360" controls>
                    <source src="../../assets/videos/CasualProgramacao.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
        
            </div>
        </div>

        <!-- Como fazer uma programação regular no sinal musical Unionboard -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="programacaoRegularSinalMusical" class="titles" onclick="obterIdDivClicada(event)">
                    Como fazer uma programação regular no sinal musical Unionboard
                </div>
                <div>
                    <img class="arrow_dropwdow" src="../../assets/img/down-arrow.png">
                </div>
            </div>
        
            <hr>
            <div id="programacaoRegularSinalMusicalArtigo"  data-parametro="especifico" class="titulos-artigos">
                <ul>
                    <li class="paragraph_body">
                        <p class="paragraph_body">1° Passo - Para criar programações regulares em horários pré-definidos durante a semana, clique no dock em programação</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">2° Passo - Conecte o <strong>Módulo Amplificador</strong> no computador com um USB. Após, clique na <strong>Aba Regular. Na pasta raiz do Sinal Musical, clique no botão abrir</strong> e selecione o disco removível que se encontra conectado o Módulo Amplificador.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">3° Passo - Selecione a programação que irá criar os avisos sonoros. Você poderá realizar até 4 programações regulares com mais de 200 horários em cada uma delas.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">4° Passo - Em modo de tempo, selecione de acordo com a legenda na parte inferior direita do programa. Para realizar uma programação que irá tocar músicas, <strong>selecione modo de tempo 1</strong>
                        </p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">5° Passo - Na guia <strong>horários</strong>, defina o horário inicial e final e quaisdias da semana irão tocar as músicas selecionadas para este horário</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">6° Passo - Na guia <strong>zonas</strong>, defina as zonas que irão tocar as músicas selecionadas para horário definido. Caso queira não fazer distinção de zonas, selecione todas</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">7° Passo - Na guia <strong>reprodução</strong>, deixe selecionado <strong>Sinal Musical</strong>. No modo de repetição e modo de reprodução escolha as opção de acordo com a legenda na parte esquerda inferior do software</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">8° Passo - Na guia <strong>Músicas</strong>você deve adicionar as músicas que irão ser tocadas no horário definido. <strong>Lembrando, as músicas devem estar na pasta raiz do sinal musical (EX: D:/, E:/, F:/, etc)</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">9° Passo - Após ter adicionado as músicas, clique em <strong>Salvar e aguarde 5 segundos</strong> até a mensagem de confirmação aparecer. Para criar novos horários clique no menu lateral em <strong>Novo Cron</strong></p>
                    </li>
                </ul>
        
                <br><p class="subTitles">Acompanhe o video tutorial:</p><br>
                <video width="540" height="360" controls>
                    <source src="../../assets/videos/RegularProgramacao.mp4" type="video/mp4">
                </video>
        
            </div>
        </div>

        <!-- Como fazer downloads de musicas através do software do sinal musical Unionboard -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div id="downloadSinalMusical" class="titles" onclick="obterIdDivClicada(event)" >
                    Como fazer downloads de musicas através do software do sinal musical Unionboard
                </div>
                <div><img class="arrow_dropwdow" src="../../assets/img/down-arrow.png"></div>
            </div>
        
            <hr>
            <div id="downloadSinalMusicalArtigos" data-parametro="especifico" class="titulos-artigos">
                <ul>
                    <li class="paragraph_body">
                        <p class="paragraph_body">1° Passo - Para realizar o download de músicas para colocar nos horários da programação do Sinal Musical, abra o programa Sinal Musical e <strong>clique em Baixar Músicas</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">2° Passo - Digite o nome, link ou autor da música que desejaprocurar e <strong>clique em pesquisar</strong>
                        </p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">3° Passo - Aparecerá uma lista com vários resultados, clique com o botão direto no resultado que desejar e <strong>clique em download ou clique em download na parte inferior do programa</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">4° Passo - O andamento de todos os arquivos que estão sendo baixados podem ser conferidos na<strong> guia Downloads</strong> no menu esquerdo</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">5° Passo - A qualquer momento é possivel ouvir a música que está sendo baixada, basta <strong>clicar com botão direito do mouse nela e depois clicar em tocar</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">6° Passo - Ao clicar em abrir pasta é possivel navegar no local onde o arquivo está sendo baixado. <strong>Lembrando, é necessário mover o mp3 direto para pasta raiz do Sinal Músical</strong></p>
                    </li>
                </ul>
        
                <br>
                <p class="subTitles">Acompanhe o video tutorial:</p><br>
                <video width="540" height="360" controls>
                    <source src="../../assets/videos/Download.mp4" type="video/mp4">
                </video>
        
            </div>
        </div>

        <!-- Como gravar áudios com o software do sinal musical UnionBoard -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div onclick="obterIdDivClicada(event)" class="titles" id="gravarSinalMusical">
                    Como gravar áudios com o software do sinal musical UnionBoard
                </div>
                <div><img class="arrow_dropwdow" src="../../assets/img/down-arrow.png"></div>
            </div>
        
            <hr>
            <div id="gravarSinalMusicalArtigos" data-parametro="especifico" class="titulos-artigos">
                <ul>
                    <li class="paragraph_body">
                        <p class="paragraph_body">1° Passo - Para realizar a gravação de avisos ou qualquer aúdio que queira usar no Sinal Musical, abra o <strong>programa do Sinal Musical e Clique no Gravador de áudio</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">2° Passo - A utilização do Gravador é muito simples. Para começar a gravar um áudio <strong>clique no botão maior escrito REC</strong> Para parar a gravação <strong>clique no botão com quadrado</strong> que significa parar</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">3° Passo - Para ver e ouvir suas gravações, <strong>clique no botão menu</strong> que é o 1° da esquerda para direita. Vai abrir uma área na qual você pode ver, ouvir e navegar na pasta que estão suas gravações</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">4° Passo - Se necessario, é possivel mudar as configurações padroes e deixá-las a seu critério ao <strong>clicar no botão configuração</strong> que é o botão que tem o icone das engrenagens.</p>
                    </li>
                </ul>
        
                <br>
                <p class="subTitles">Acompanhe o video tutorial:</p><br>
                <video width="540" height="360" controls>
                    <source src="../../assets/videos/Gravacao.mp4" type="video/mp4">
                </video>
        
            </div>
        </div>

        <!-- como cortar musicas com o software do sinal musical Unionboard -->
        <div  class="sub_Topic">
            <div class="container_flexbox">
                <div onclick="obterIdDivClicada(event)" class="titles" id="cortarSinalMusical">
                    Como cortar musicas com o software do sinal musical Unionboard
                </div>
                <div><img class="arrow_dropwdow" src="../../assets/img/down-arrow.png"></div>
            </div>
        
            <hr>
            <div id="cortarSinalMusicalArtigo" data-parametro="especifico" class="titulos-artigos">
                <ul>
                    <li class="paragraph_body">
                        <p class="paragraph_body">1° Passo - Você pode recortar apenas o trecho mais importante da música para tocar no Sinal Músical. Para isso, <strong>abra o software Sinal Musical e clique em editor de áudio</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">2° Passo - Clique em<strong> abrir arquivos</strong> e selecione a música que deseja recortar.</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">3° Passo - É possivel reproduzir a música para identificar qual ponto será iniciado e finalizado o corte no aúdio, <strong>basta utilizar os comandos tocar, pause e parar</strong></p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">4° Passo - Para marcar o ponto inicial do recorte clique e arraste o retângulo do inicío da barra verde, defina a quantidade de segundos manualmente ou clique em marca inicial ao tocar a música</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">5° Passo - Para marcar o ponto final do recorte clique e arraste o retângulo do final da barra verde, defina a quantidade de segundos manualmente ou clique em marca final ao tocar música</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">6° Passo - Abaixo da barra verde existe um marcador de tempo que tem as informações referentes ao tempo total do recorte, início do recorte e final do recorte</p>
                    </li>
                    <li class="paragraph_body">
                        <p class="paragraph_body">7° Passo - Se tudo estiver de acordo com o que deseja, clique em <strong>Iniciar Corte</strong> e escolha o local que será salvo o arquivo recortado. Em menos de 5 segundos seu arquivo é gerado</p>
                    </li>
                </ul>
        
                <br>
                <p class="subTitles">Acompanhe o video tutorial:</p><br>
                <video width="540" height="360" controls>
                    <source src="../../assets/videos/Recortar.mp4" type="video/mp4">
                </video>
        
            </div>
        </div>

        <!-- Duvidas Frequentes -->
        <div id="duvidasFrequentes" class="duvidasFrequentes" style="margin-top: 10%;">
            <h1 style="text-align: center;" class="titles">Dúvidas Frequentes sobre o Sinal Musical Unionboard</h1>
            <div class="div_paragraph">
                <div class="div_paragraph bg-cinza padding_faq">
                    <h5 class="subTitles"> 1 - O que é o Sinal Musical Unionboard?</h5>
                    <p class="paragraph_body"> R: O Sinal Musical Unionboard é um sistema de monitoramento de entradas, intervalos de aulas e saídas de alunos, que substitui a tradicional campanha ou sirene nas escolas por músicas em mp3 de qualquer ritmo ou estilo, tornando o dia a dia mais agradável e produtivo. O aparelho vai devidamene programado com a grade de horários de sua escola e pode ser reprogramado a qualquer momento <a href="https://m.showdeimagem.com.br/sinalmusical/"></a>Veja Mais!</p>
                </div>
                <div class="div_paragraph padding_faq">
                    <h5 class="subTitles "> 2 - Qual é a utilidade do Sinal Musical Unionboard?</h5>
                    <p class="paragraph_body"> R: Através da música, conecte grandes cantores e seus clássicos aos alunos. Possibilitando um conhecimento ampliado de outras gerações musicais em uma perspectiva pedagógica sobre o Brasil e o mundo daquela época, em seu cenário politico e social</p>
                </div>
                <div class="div_paragraph bg-cinza padding_faq">
                    <h5 class="subTitles">3 - Como usar o Sinal Musical Unionboard?</h5>
                    <p class="paragraph_body">R: Utilizar o Sinal Musical é bem simples e intuitivo. Basta realizar os seguintes e intuitivo. Basta realizar os seguintes passos:
                        <ul>
                            <li class="paragraph_body">
                                <p class="paragraph_body">
                                    Conecte o Sinal Musical em seu computador através de um cabo usb
                                </p><br>
                            </li>
                            <li class="paragraph_body">
                                <p class="paragraph_body">
                                    Após conectar o cabo navegue até a pasta tutoriais
                                </p><br>
                            </li>
                            <li class="paragraph_body">
                                <p class="paragraph_body">
                                    Acompanhe cada video de instrução do Sinal Musical
                                </p><br>
                            </li>
                            <li class="paragraph_body">
                                <p class="paragraph_body">
                                    Pronto, seu Sinal Musical está pronto para utilização. Agora basta ligar deixar a música dominar seu ambiente
                                </p>
                            </li>
                        </ul>

                    </p>
                </div>
                <div class="div_paragraph padding_faq">
                    <h5 class="subTitles">4 - Onde posso adquirir um Sinal Musical</hh>
                    <p class="paragraph_body">R: O Sinal Musical UnionBoard estão disponiveis em nossa loja virtual, que você pode acessar por este link: <a href="http://www.unionboard.com.br/"></a>ou entrar em contato via nosso Whatsapp (11)2946-2668.</p>
                </div>

                <div class="div_paragraph bg-cinza padding_faq">
                    <h5 class="subTitles">5 - Em quais ambientes posso utilizar o Sinal Musical</hh>
                    <p class="paragraph_body">R: O Sinal Musical é uma solução dinâmica que se adapta a diversos ambientes, seja para o uso Educacional, Comporativo e Industrial</p>
                </div>

                <div class="div_paragraph padding_faq">
                    <h5 class="subTitles">6 - Como instalar o Sinal Musical</h5>
                    <p class="paragraph_body">R: A instalação do Sinal Musical é um procedimento rápido. Vamos elencar as principais etapas, porém recomendamos que
                    assista o vídeo explicativo.
                        <ul>
                            <li class="paragraph_body">
                                <p class="paragraph_body">
                                    Conecte o amplificador do Sinal Musical as caixas de som.
                                </p><br>
                            </li>
                            <li class="paragraph_body">
                                <p class="paragraph_body">
                                    Baixe as músicas. Através do software UnionMusic, baixe qualquer musica disponível na Internet e recorte trechos desejados.
                                </p><br>
                            </li>
                            <li class="paragraph_body">
                                <p class="paragraph_body">
                                    Crie um cronograma com os horários dos alarmes. Com o UnionMusic Software, defina os horários, zonas e dias da semana em que irão tocar as músicas determinadas.
                                </p><br>
                            </li>
                            <li class="paragraph_body">
                                <p class="paragraph_body">
                                    Seu ambiente agora tem música. Seu ambiente se tornou mais lúdico. Possibilitando um conhecimento ampliado de outras gerações musicais em uma perspectiva pedagógica sobre o Brasil e o mundo daquela época , em seu cenário politico e social.
                                </p>
                            </li>
                        </ul>
                        
                    </p>
                </div>
            </div>
        </div> 
    </main>
</div>

<div class="botaoWpp">
    <a target="_blank" href="https://api.whatsapp.com/send?phone=551129462668"><img src="../../assets/img/WhatsApp.png" alt="botaoWpp"></a>
</div>

<div class="botaoVoltarProTopo">
    <a href="#topo">Voltar ao Topo</a>
</div>

<script type="text/javascript" src="../../public/javascripts/config_pesquisa.js"></script>

<%- include('../partials/footer.ejs') %>

