<%- include('../partials/header.ejs') %>


<!-- Arvore -->
<section class="arv_body">
    <h2>Página inicial > Voltar para a pesquisa > Abertura de solicitações</h2>
</section>

<div class="container_body">
    <!-- Menu Lateral -->
    <aside class="indiceLateral">
        <details>
            <summary>Como instalar a Moldura</summary>
            <ul>
                <li id=""><a href="">Instalação padrão</a> </li>
                <li id=""><a href="">Molduras 70"</a> </li>
                <li id=""><a href="">Molduras 75" ou superior</a> </li>
            </ul>
        </details>

        <details>
            <summary> <a href=""> Etapas da instalação da moldura</a></summary>
        </details>

        <details>
            <summary> <a href=""> Como instalar a moldura na vertical</a></summary>
        </details>

        <details>
            <summary> <a href=""> Como utilizar a moldura em forma independente de outra tela</a></summary>
        </details>

        <details>
            <summary> <a href=""> Como utilizar a moldura para espelho magico</a></summary>
        </details>

        <details>
            <summary>Como utilizar prolongadores USB </summary>
            <ul>
                <li id=""><a href="">Prolongador USB Ativo</a> </li>
                <li id=""><a href="">Prolongador USB Ativo via Rede</a> </li>
            </ul>
        </details>
        
        <details>
            <summary>Como instalar o Software Unionboard </summary>
            <ul>
                <li id=""><a href="">Para Windows</a> </li>
                <li id=""><a href="">Para Mac</a> </li>
                <li id=""><a href="">Para Linux</a> </li>
            </ul>
        </details>

        <details>
            <summary> <a href=""> Como calibrar a moldura</a></summary>
        </details>

        <details>
            <summary> <a href=""> Como utilizar o software Unionboard</a></summary>
        </details>
        
        <details>
            <summary> <a href=""> Perguntas Frequentes</a></summary>
        </details>
        
        <details>
            <summary> <a href=""> Requisitos do Sistema</a></summary>
        </details>
    </aside>

    <!-- Conteudo Principal -->
    <main>
        <h1 class="titles">Como instalar a Moldura</h1>
        <hr style="margin-top: 0%;">
    <!-- Instalacao da Moldura -->
    <div id="InstalarMolduraPadrao" class="InstalarMolduraPadrao">
        <div class="div_paragraph">
            <h1 class="titles">Instalação padrão:</h1>
            <p class="paragraph_body"><strong>Materiais necessarios para a instalação:</strong></p>
            <ul>
                <li class="paragraph_body">Chave Phillips</li>
                <li class="paragraph_body">Álcool 70% ou isopropílico</li>
                <li class="paragraph_body">Flanela de limpeza</li>
                <li class="paragraph_body">Lixa</li>
                <li class="paragraph_body">Cabo HDMI</li>
                <li class="paragraph_body">1x Cabo USB (1,8m)</li>
                <li class="paragraph_body">2x Canetas touch</li>
            </ul>
        </div>
     
        <div class="div_paragraph">
            <h1 class="titles">Moldura até 70":</h1>
            <ul>
                <li class="paragraph_body">4x Travas retas</li>
                <li class="paragraph_body">2x Travas "L" maiores</li>
                <li class="paragraph_body">2x Travas "L" menores</li>
                <li class="paragraph_body">16x Parafusos (12 já fixados)</li>
                <li class="paragraph_body">2x Cinta com catraca</li>
            </ul>
        </div>
        <div class="div_paragraph">
            <h1 class="titles">Molduras 75" ou superior:</h1>
            <ul>
                <li class="paragraph_body">6x Travas retas</li>
                <li class="paragraph_body">3x Travas "L" maiores</li>
                <li class="paragraph_body">3x Travas "L" menores</li>
                <li class="paragraph_body">18x Parafusos (12 já fixados)</li>
                <li class="paragraph_body"> 3x Cinta com catraca</li>
            </ul>
        </div> 
        <div class="imagens">
            <img src="../../assets/img/materiais necesssarios.png" alt="imagem" width="300">
            <img src="../../assets/img/acompanha.png" alt="imagem" width="300">
        </div>
    <!-- Etapas da instalação -->
    <!-- ======================================================================================== -->
        <div id="etapasDaInstalacao">
            <hr>
            <h1 class="titles">Etapas da instalação da moldura</h1>
        </div>

        <div class="div_paragraph"> 
            <p class="paragraph_body"> 1 - Retire os plasticos da borda da TV (se houver).</p>
            <img src="../../assets/img/retire os platicos.png" alt="imagens">
        </div> 
        <div class="div_paragraph"> 
            <p class="paragraph_body"> 2 - Antes de realizar a instalação recomendamos que se faça um teste geral do sistema. Teste a Televisão, a moldura e o computador. Siga os passos abaixo:</p>
                <ul>
                    <li class="paragraph_body">Apoie a TV sobre uma superfície plana;</li>
                    <li class="paragraph_body">Alinhe a moldura sobre a televisão com a logo UnionBoard para cima e o plug USB para baixo (Não remova a proteção das fitas dupla face);</li>
                    <li class="paragraph_body">Conecte o cabo USB na Moldura e no computador;</li>
                    <li class="paragraph_body">Conecte o cabo HDMI no computador e na televisão;</li>
                    <li class="paragraph_body">Lige o computador e a TV. Clique na tela e navegue pelo sistema para testar o toque e a imagem;</li>
                    <li class="paragraph_body">Ainda não é necessário baixar o software UnionBoard para realizar o teste inicial, apenas navegue pelo PC;</li>
                </ul>
                <img src="../../assets/img/imagem 4.png" alt="imagem" width="600">
        </div> 
        <div class="div_paragraph">
            <p class="paragraph_body">3 - Nas bordas da TV, no local onde a moldura será colada, passe a lixa suavemente para retirar o verniz (imagem 1). Após, faça a limpeza com a flanela e o álcool isopropílico para tirar toda a poeira do local (imagem 2). Esta etapa é essencial para promover a maior fixação da moldura na TV. Caso a TV for maior que a moldura, como o caso das TVs antigas (imagem 3), delimite a área exterrna da moldura com fita crepe, lixe a área de contato (imagem 4) e realize a limpeza.</p>
            <div class="imagens">
                <img src="../../assets/img/tv convencional.png" alt="imagem" width="300">
                <img src="../../assets/img/tv antiga.png" alt="imagem" width="300">
            </div>
        </div>
        <div class="div_paragraph">
        <p class="paragraph_body">4 - Limpe a parte interna do vidro da moldura (o lado das fitas dupla face) com um pano levemente umedecido com álcool e depois passe um pano seco. Faça o mesmo procedimento com a TV. Após a fixação da moldura não sera mais possivel limpar esta área. Certifique-se de remover toda a poeira e marcas de dedos quando houver.</p> 
        <img src="../../assets/img/fita dupla face.png" alt="imagem" width="600">
        </div>
        <div class="div_paragraph">
            <p class="paragraph_body">5 - Posicione a moldura sobre a TV ligada sem remover a proteção das fitas dupla face (imagem 1). No canto superior direito da moldura, insira a caneta para que se crie um espaço entre a moldura e a TV (imagem 2). Nas extremidades das fitas dupla face desse canto, retire um pedaço das proteções (sem contar) e deixe as sobras para fora (imagem 3). Retire a caneta e alinhe a parte interna da moldura com a imagem da TV. Repita todo o processo no canto inferior esquerdo da moldura (diagonal oposta). Após colar os dois cantos da moldura, puxe a proteção das fitas com uma mão e com a outra realize o movimento de levantar levemente a moldura (sem descolar os cantos) conforme for puxando a fita (imagem 4). Após colar a moldura na TV, aplique pressão com as mãos sobre todas as extremidades da moldura.</p>
            <img src="../../assets/img/passo a passo fixacao.png" alt="imagem" width="600">
        </div>
        <div class="div_paragraph">
        <p class="paragraph_body">6 - Apoie a televisão em uma superfície plana com a tela para baixo, e vamos iniciar o segundo processo de fixação.</p>
        <img src="../../assets/img/superficie plana.png" alt="imagem" width="300">
        <div class="div_paragraph">
            <p class="paragraph_body "> Existem 3 tipos de borda de televisão: borda grossa (TV antiga), borda normal (TV convencional) e borda ultrafina (TVs mais modernas). Verifique a borda da sua televisão para prosseguir com a instalação adequada. Confira abaixo os tipos de travas metalica. ATENÇÂO, cada tipo de borda utilizará uma composição diferente.</p>
            <img src="../../assets/img/imagem das travinhas.png" alt="imagem" width="600">
        </div>
    <!-- Fixação Para TV -->
    <!-- ======================================================================================== -->
        <div class="div_paragraph">
            <div id="fixacaoTvBordaFina">
                <h5 class="subTitles">Fixação para TV com borda ultrafina</h5>
            </div>
            <p class="paragraph_body">Caso sua TV for um modelo com bordas ultrafinas (bordas muito menores que a moldura): siga os passos a seguir. Separe as travas indicadas (Imagem 1), na parte superior da TV realize a fixação da trava "L" menor na moldura utilizando os 03 (três) parafusos (Imagem 2), após realize a fixação da trava "L" maior utilizando os 02 (dois) parafusos (Imagem 3), na parte inferior da TV realize a fixação das travas retas na moldura com os 03 (três) parafusos, para finalizar passe as cintas de segurança conforme a indicação a seguir.</p> 
            <img src="../../assets/img/passo a passo trava.png" alt="imagem" width="600">
        </div>
    <!-- Fixação para TV com borda -->
    <!-- ======================================================================================== -->
        <div class="div_paragraph">
            <div id="fixacaoTvBordaConvencional">
                <h5 class="subTitles">Fixação para TV com borda convencional</h5>
            </div>
            <p class="paragraph_body">Caso sua TV for um modelo convencional (bordas com o tamanho próximo ao da moldura): Parafuse as travas retas nos respectivos pontos de fixação, com a abertura maior virada para a trasiera da TV (para a passagem da cinta).</p> 
            <img src="../../assets/img/fixacao com tv convencional.png" alt="imagem" width="600">
        </div>
    <!-- Fixação para TV com borda grossa -->
    <!-- ======================================================================================== -->
        <div class="div_paragraph">
            <div id="FixacaoTvBordaGrossa">
                <h5 class="subTitles">Fixação para TV com borda grossa</h5>
            </div>div>
            <p class="paragraph_body">Caso sua TV for um modelo mais antigo (bordas maiores que as da moldura): Parafuse as travas "L" alinhadas com a parte frontal da moldura nos respectivos pontos de fixação, com a abertura maior virada para a parte da frente da TV (para a passagem da cinta).</p> 
            <img src="../../assets/img/fixacao com tv borda grossa.png" alt="imagem" width="600">
        </div>
        </div>

        <div class="div_paragraph">
            <p class="paragraph_body">7 - Passe a cinta com catraca por dentro das aberturas da trava superior e inferior, de forma que a catraca fique de fácil acesso e que a sobra da corda fique para baixo conforme a figura abaixo. Repita o procedimento com todos os pares de travas (até 70" = 2 cintas) (75" ou superior = 3 cintas).</p>
            <img src="../../assets/img/cinta moldura.png" alt="imagem" width="600">
        </div>
        
        <div class="div_paragraph">
            <p class="paragraph_body">8 - Regule o nível de tensão nas travas puxando a corda e travando a catraca. Aplique uma tensão moderada de forma que a cinta fique esticada sem pressionar excessivamente as travas.</p>
            <img src="../../assets/img/tutorial cinta.png" alt="imagem" width="600">
        </div>
        
        <div class="div_paragraph">
            <p class="paragraph_body">9 - Deixe a TV com a parte da tela para baixo em uma superfície plana durante 24h para fixação completa da fita dupla face. Após, ligue o cabo USB da moldura no PC e o cabo HDMI do PC na Televisão.</p>
            <img src="../../assets/img/tela pra baixo.png" alt="imagem" width="600">
        </div>

        <div class="div_paragraph">
            <p class="paragraph_body">10 - Realize a fixação da TV touchscreen no suporte de parede ou no rack móvel UnionBoard. Faça o download do software e calibrador em seu computador. Se necesssário, realize a calibração do touchscreen.</p>
        </div>
    </div>
    <!-- Como instalar a moldura unionboard na vertical-->
    <!-- ======================================================================================== -->
    <div id="instalarMolduraVertical" class="instalarMolduraVertical">
        <hr>
            <div class="div_paragraph">
                <h1 class="titles ">Como instalar a moldura unionboard na vertical</h1>
                <ul>
                    <li class="paragraph_body">
                        Após a instalação da moldura faça a calibragem dela no modo paisagem de acordo com o passo a passo: <a href="">Como Calibrar?</a>;
                        <!-- <img src="" alt=""> -->
                    </li>
                    <li class="paragraph_body">
                        Após a calibração vá na área de trabalho, clique com o botão direito e clique em *Configurações de Exibição*
                        <!-- <img src="" alt=""> -->
                    </li>
                    <li class="paragraph_body">
                        Dentro das configurações vá em *Orientação de Tela* e muda para Retrato
                        <!-- <img src="" alt=""> -->
                    </li>
                </ul>
            </div>
        </div>
    <!-- Como utilizar a moldura unionboard de forma independente da outra tela -->
    <!-- ======================================================================================== -->
        <div id="telaEstendida" class="telaEstendida">
            <hr>
            <div class="div_paragraph">
                <h1 class="titles ">Como utilizar a moldura unionboard de forma independente da outra tela</h1>
                <ul>
                    <li class="paragraph_body">
                        Após a instalação da moldura faça a calibragem dela no modo paisagem de acordo com o passo a passo: <a href="">Como Calibrar?</a>
                        <!-- <img src="" alt=""> -->
                    </li>
                    <li class="paragraph_body">
                        Aperte as teclas Win + P
                        <!-- <img src="" alt=""> -->
                    </li>
                    <li class="paragraph_body">
                        Selecione "Estender Tela"
                        <!-- <img src="" alt=""> -->
                    </li>
                    <li class="paragraph_body">
                        Vá na área de trabalho, clique com o botão direito e clique em *Configurações de Exibição*
                        <!-- <img src="" alt=""> -->
                    </li>
                    <li class="paragraph_body">
                        Selecione a tela da moldura
                        <!-- <img src="" alt=""> -->
                    </li>
                    <li class="paragraph_body">
                        Aperte em *Definir como monitor principal*
                        <!-- <img src="" alt=""> -->
                    </li>
                </ul>
            </div>
        </div>
    <!-- Espelho Magico -->
    <!-- ======================================================================================== -->
        <div id="espelhoMagico" class="espelhoMagico">
            <hr>
            <div class="div_paragraph">
                <h1 class="titles">Como utilizar a moldura unionboard para espelho magico</h1>
            </div>
        </div>
    <!-- ProlongadorUsb -->
    <!-- ======================================================================================== -->
        <div id="prolongadorUSB" class="prolongadorUSB">
            <hr>
            <div class="div_paragraph">
                <h1 class="titles">Como utilizar prolongadores USB</h1>
                <!-- ============== Prolongador Ativo ===================== -->
                <div id="prolongadorAtivo">
                    <h5 class="subTitles">Prolongador USB Ativo</h5>
                </div>
                <!-- ============== Prolongador Ativo Via Rede ===================== -->
                <div id="prolongadorViaRede">
                    <h5 class="subTitles">Prolongador USB Ativo via Rede</h5> 
                </div>
            </div>
        </div>
    <!-- Instalar Software -->
    <!-- ======================================================================================== -->
        <div id="instalarSoftware" class="instalarSoftware">
            <hr>
            <h1 class="titles">Como instalar o software</h1>
            <!-- ============== Software Windows ===================== -->
            <div id="softwareWindows" class="div_paragraph">
                    <div class="div_paragraph">
                        <h5 class="subTitles">Como instalar o software no sistema Windows:</h5>
                        <h5 class="subTitles">*Observações*</h5>
                        <ul>
                            <li class="paragraph_body">
                                Para garantia de extração dos arquivos de forma correta, tenha o Winrar instalado
                            </li>
                            <li class="paragraph_body">
                                Esteja no perfil de administrador, verifique com a direção caso as instalações sejam limitadas
                            </li>
                            <li class="paragraph_body">
                                Em caso de necessidade de suporte, tenha instalado o AnyDesk no perfil de administrador e já tenha em mãos os dados necessários caso tenha limitações estipuladas pela direção no uso dos computadores
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="div_paragraph" id="softwarePro">
                    <h5 class="subTitles">Para instalação do software Pro no sistema Windows:</h5>
                    <ul>
                        <li class="paragraph_body">Acesse o link <a href="https://showdeimagem.com.br/UnionBoardPro.zip">https://showdeimagem.com.br/UnionBoardPro.zip</a></li>
                        <li class="paragraph_body">Crie uma pasta em Documentos</li>
                        <li class="paragraph_body">Extraia os arquivos do software baixado para a pasta criada</li>
                        <li class="paragraph_body">Entre na pasta e execute o arquivo UnionBoardPro.exe. (Atenção ao anti-virus, ele pode alertar um falso positivo de virus)</li>
                        <li class="paragraph_body">Aperte em Sim para solicitações e aguarde o aplicativo ser instalado</li>
                        <li class="paragraph_body">Após isso você verá um novo ícone na área de trabalho, basta executar o software</li>
                    </ul>
                </div>
                <div class="div_paragraph" id="softwarePrime">
                    <h5 class="subTitles">Para instalação do software Prime no Windows (Apenas para escolas Estaduais de São Paulo):</h5>
                    <ul>
                        <li class="paragraph_body">Entre em contato com nossa <a href="https://api.whatsapp.com/send?phone=551129462668">Central de atendimento</a></li>
                        <li class="paragraph_body">Informe a Escola e encaminhe a nota fiscal e o número de identificação da moldura, localizada na parte inferior (Nota Fiscal deve estar no nome da Escola)</li>
                        <li class="paragraph_body">Tenha instalado o AnyDesk no perfil de administrador</li>
                        <li class="paragraph_body">Passe os dados de acesso para um de nossos representantes completar a instalação com a chave de acesso</li>
                    </ul>
                </div>
            <!-- ============== Software Mac ===================== -->
            <div id="softwareMac" class="div_paragraph">
                <h5 class="subTitles">Como instalar o software no sistema Mac:</h5>
            </div>
                <div class="div_paragraph">
                    <h5 class="subTitles">*Observações*</h5>
                    <p class="paragraph_body">- Sistemas Mac recomendados (Big Sur, Catalina e Mojave)</p>
                </div>
                <div class="div_paragraph" id="proMac">
                    <h5 class="subTitles">Para instalação do Software Pro para MAC:</h5>
                    <ul>
                        <li class="paragraph_body">Acesse o Link <a href="https://github.com/OpenBoard-org/OpenBoard/releases/download/v1.6.3/OpenBoard-1.6.3.dmg">https://github.com/OpenBoard-org/OpenBoard/releases/download/v1.6.3/OpenBoard-1.6.3.dmg</a></li>
                        <li class="paragraph_body">Clique com o botão direito em cima do arquivo e execute-o</li>
                        <li class="paragraph_body">Após isso verá um novo ícone em sua área de trabalho, basta abrir para utilizar</li>
                    </ul>
                </div>
            <!-- ============== Software Linux ===================== -->
            <div id="softwareLinux" class="div_paragraph">
                <h5 class="subTitles">Como instalar o software no sistema Linux:</h5>
            </div>
            <div class="div_paragraph">
                    <p class="subTitles">*Observações*</p>
                    <p class="paragraph_body">- Apenas para sistemas Ubuntu acima de 20.04</p>
                </div>
                <div class="div_paragraph" id="softwareLinuxPro">
                    <h5 class="subTitles">Para instalação do Software Pro para Linux:</h5>
                    <ul>
                        <li class="paragraph_body">Acesse o Link <a href="https://github.com/OpenBoard-org/OpenBoard/releases/download/v1.6.4/openboard_ubuntu_22.04_1.6.4_amd64.deb">https://github.com/OpenBoard-org/OpenBoard/releases/download/v1.6.4/openboard_ubuntu_22.04_1.6.4_amd64.deb</a> (Para sistemas 22.04) ou <a href="https://github.com/OpenBoard-org/OpenBoard/releases/download/v1.6.4/openboard_ubuntu_20.04_1.6.4_amd64.deb ">https://github.com/OpenBoard-org/OpenBoard/releases/download/v1.6.4/openboard_ubuntu_20.04_1.6.4_amd64.deb</a> (Para Sistemas 20.04)</li>
                        <li class="paragraph_body">Clique com o botão direito em cima do arquivo e execute-o</li>
                        <li class="paragraph_body">Após isso verá um novo ícone em sua área de trabalho, basta abrir para utilizar</li>
                    </ul>
                </div>
        </div>
    <!-- Calibrador -->
    <!-- ======================================================================================== -->
        <div id="calibrarMoldura"class="calibrarMoldura">
            <hr>
            <h1 class="titles">Como calibrar a Moldura</h1>
        </div>
    <!-- utilizarSoftware -->
    <!-- ======================================================================================== -->
        <div id="utilizarSoftware" class="utilizarSoftware">
            <hr>
            <h1 class="titles">Como utilizar o Software</h1>
        </div>
    <!-- Duvidas Frequentes -->
    <!-- ======================================================================================== -->
        <div id="duvidasFrequentes" class="duvidasFrequentes">
        <hr>
        <div class="div_paragraph">
            <p class="faq_title">Dúvidas Frequentes sobre a moldur unionboard</p>
            <div class="div_paragraph">
                <h1 class="titles"> 1 - Onde posso fazer o download do Software UnionBoard?</h1>
                <p class="paragraph_body"> R:Você pode solicitar o link de download do software através de nosso whatsapp: (11) 2946-2668 ou acesse o site: www.showdeimagem.com.br/downloads. as molduras acompanham o UnionBoard Software Pro e Color. O UnionBoard Software será disponibilizado para instituições de ensino.</p>
            </div>
            <div class="div_paragraph">
                <h1 class="titles"> 2 - Como faço a calibração para o modo retrato (vertical)?</h1>
                <p class="paragraph_body"> Para utilizar a Moldura na vertical, é necessário realizar a instalação normalmente conforme o passo a passo informado no manual. Após a moldura instalada na TV, rotacione para o modo retrato de forma que o logo da UnionBoard fique virado para cima e o conector USB fique para baixo. Após, mude a orientação da tela no windows para o modo retrato.</p>
            </div>
            <div class="div_paragraph">
                <h1 class="titles">3 - Como é realizada a conexão da moldura interativa?</h1>
                <p class="paragraph_body">|: Realize a fixação da Moldura interativa na Televisão. ||: Conecte o Cabo USB da moldura no computador, para habilitar o toque. |||: Conecte o cabo de Imagem (HDMI ou VGA) do computador na Televisão. IV: Pronto, ssua televisão agora é touchscreen.</p>
            </div>
            <div class="div_paragraph">
                <h1 class="titles">4 - Moldura não reconhece o toque.</hh>
                <p class="paragraph_body">|: Verifique se as conexões estão corretas. ||: Conecte a Moldura direto no PC sem extensões USB. |||: Reinicie o PC. IV: Se precisar utilizar uma extensão USB, opte por uma ativa.</p>
            </div>
        </div>
        </div>    
    <!-- Requisitos do Sistema -->
    <!-- ======================================================================================== -->
        <div id="requisitosDoSistema" class="requisitosDoSistema">
            <hr>
            <h1 class="titles">Requisitos do Sistema para utilização da moldura unionboard</h1>
            <div class="div_paragraph">
                <p class="paragraph_body">Requisitos recomendados:</p>
                <ul>
                    <li class="paragraph_body">Memoria Ram: 8GB</li>
                    <li class="paragraph_body">Processador: Intel I5 4° Geração</li>
                    <li class="paragraph_body">Sistema operacional Windows 10 ou superior</li>
                </ul>
            </div>
        </div>
    </div>
    </main>

    <script>
    let caixaDePesquise = document.querySelector('.input_search')
    let resultadoDaPesquise = document.querySelector('#results_search')

    caixaDePesquise.addEventListener('input', async function () {
        let pesquisa = caixaDePesquise.value
        if (pesquisa == '') {
            resultadoDaPesquise.innerHTML = ''
        } else {
            await fetch(`http://192.168.1.9:3000/moldura/pesquisa/${pesquisa}`)
                .then(response => response.json())
                .then(data => {
                    resultadoDaPesquise.innerHTML = ''
                    for (i = 0; i <= data.length; i++) {
                        let div = `
                        <div>
                            <p><a href="${data[i].url}">${data[i].titulo_artigo}</a></p>
                        </div>
                    `
                        resultadoDaPesquise.innerHTML += div
                    }
                })
                .catch(error => {
                    console.error(error)
                })
        }
    })
    </script>

<%- include('../partials/footer.ejs') %>

